@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);


:root {
    --offWhite: white;
    --title-font: 1.5em/1 'Montserrat';
    --raleway-font: 'Raleway', sans-serif;
    --box-shadow: 0 0 15px 4px rgba(192,192,192,0.3);
    --list-item-shadow: 0 0 15px 4px rgba(27, 27, 27, 0.3);
}

div {
    background-color: #212121;
    color: white;
    text-align: center;
}

.topnav {
    background-color: #3d3d3d;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Style the links inside the navigation bar */

.topnav a:not(.hokiesheetname):not(.username):not(.logout) {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    margin: 2px 2px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover:not(.hokiesheetname):not(.username):not(.logout):not(.active) {
    text-decoration: none;
    background-color: #ddd;
    color: black;
    border-radius: 3px;
}

.hokiesheetname, .hokiesheetname:hover {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    margin-top: 6px;
    font: var(--title-font);
}

.username, .username:hover {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--raleway-font)
}


/* Add an active class to highlight the current page */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

.logout {   
    background-color: #1fd127;
    color: white;
    margin: 6px 10px 0px 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
}

.logout:hover {
    text-decoration: none;
    color: white;
    box-shadow: var(--box-shadow);
}

.topnav h2 {
    background-color: white;
    font-size: 20px;
    font-style: 'Tisa';
}

.checksheet {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    padding: 50px;
    align-items: center;
    margin:0 auto;
}


.semester {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color:rgb(243, 243, 243);
    padding-bottom:10px;
    align-items: center;
    border-radius: 8px;
}

.totalcredits {
    padding: 8px;
    color: rgb(66, 252, 252)
}


.inpageNav {
    display: inline-block;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inpageNav button {
    text-decoration: none;
    padding:8px 15px;
    background-color: #00aeba;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px;
    font-family: var(--raleway-font);
}

.inpageNav button:hover {
    background-color: #148bb3;
    text-decoration: none;
    color: white;
    box-shadow: var(--box-shadow);
}

#firstbtn {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#lastbtn {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.inpageNav button.active {
    background-color:#3191ff;
}

.list-container {
    background-color: var(--offWhite);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    display: inline-block;
}

.list-container ul{
    color: black;
    list-style-type: none;
    display: inline-block;
}

.list-container li {
    background: white;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: var(--list-item-shadow);
    counter-increment: gradient-counter;
    margin: 1rem 3rem 1rem 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
}

.list-item div{
    color: black;
    background-color: white;
    float: left;
    margin: 0px 20px;
}

.course p:not(.credits) {
    color: black;
    float: left;
}

#credits {
    float: right;
    margin: 0px 15px;
}

.title {
    color: white;
    font-family: var(--raleway-font);
    font-weight: 400;
    margin-bottom: 10px;
}

.checksheet-title {
    color: white;
    font-family: var(--raleway-font);
    font-weight: 400;
}

