div {
    background-color: #212121;
    color: white;
    text-align: center;
}

.topnav {
    background-color: #3d3d3d;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Style the links inside the navigation bar */

.topnav a:not(.hokiesheetname):not(.username):not(.logout) {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    margin: 2px 2px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover:not(.hokiesheetname):not(.username):not(.logout):not(.active) {
    text-decoration: none;
    background-color: #ddd;
    color: black;
    border-radius: 3px;
}

.hokiesheetname, .hokiesheetname:hover {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    font-style: "Tisa";
}

.username, .username:hover {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    font-style: "Tisa";
}


/* Add an active class to highlight the current page */

.topnav a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

.logout {   
    background-color: #1fd127;
    color: white;
    margin: 6px 10px 0px 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
}

.logout:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 16px 18px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.topnav h2 {
    background-color: white;
    font-size: 20px;
    font-style: 'Tisa';
}

.checksheet {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    padding: 50px;
    align-items: center;
    margin:0 auto;
}


.semester {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color:white;
    padding-bottom:10px;
    align-items: center;
    border-radius: 8px;
}

.totalcredits {
    padding: 8px;
    color: aqua
}
